global
    log stdout format raw local0
    stats socket /tmp/haproxy.sock mode 666 level admin

defaults
    log global
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# 1. Frontend de entrada en puerto 80
frontend http_front
    bind *:80

    # Definicion de reglas ACL segun prefijo de ruta
    acl is_users    path_beg /api/users
    acl is_products path_beg /api/products
    acl is_orders   path_beg /api/orders

    # Enrutamiento hacia cada backend
    use_backend users_back    if is_users
    use_backend products_back if is_products
    use_backend orders_back   if is_orders

# 2. Backend de Usuarios (2 instancias en vm-microservices)
backend users_back
    balance roundrobin
    option httpchk GET /
    server users1 192.168.100.3:3001 check
    server users2 192.168.100.3:3011 check

# 3. Backend de Productos (2 instancias en vm-microservices)
backend products_back
    balance roundrobin
    option httpchk GET /
    server products1 192.168.100.3:3002 check
    server products2 192.168.100.3:3012 check

# 4. Backend de Ordenes (2 instancias en vm-microservices)
backend orders_back
    balance roundrobin
    option httpchk GET /
    server orders1 192.168.100.3:3003 check
    server orders2 192.168.100.3:3013 check

# 5. Dashboard de Estadisticas en puerto 8080 con autenticacion
listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:admin123
